/*-- scss:functions --*/

/*-- scss:defaults --*/

$primary: #014240;

/*-- scss:rules --*/

.label:has(+ .form) {
  flex-shrink: unset !important;
}

form > label, .label:has(+ .form) {
  font-weight: bold;
}

.panel-sidebar {
  border-radius: 0.5rem;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  
  label {
    width: auto !important;
  }
}

.quarto-layout-row {
  margin-bottom: 1em;
}

.quarto-layout-panel {
  margin-bottom: 0em;
}

div[id^='O-scope-']{
  flex-wrap: wrap !important;
}

.filter-error { 
  font-size: 90%;
  font-style: italic;
  //border: 1px solid #dee2e6;
  padding: 0.25rem;
}

.observablehq--error {
  display: none;
}
